@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

input{

    color:white;
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
    border-radius: 25%;
}

.num{
    width: 64px;
    height: 67px;  
}
.text{
    width: 160px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
}
.text1{
    width: 24px;
    height: 26px;
    border-radius: 20%;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}
.main{
    display: inline-block;

}
.maincolor{
    background-color: rgb(200,240, 100);
}
.cor1{
    background-color: blue;
}
.cor2{
    background-color: pink;
}
.cor3{
    background-color:green;
}
.cor4{
    background-color:purple;
}
.cor5{
    background-color:orange;
}